{% extends "themes/default/templates/partials/base.html" %}

{% block content %}
<div class="container mx-auto bg-white text-black pb-24">
    <h1 class="uppercase text-center text-3xl lg:text-6xl m-0 pl-6 pr-6 lg:pl-24 lg:pr-24 pt-24 pb-24 font-noirpro-semibold">
        {{ entry.title|raw }}
    </h1>
    <div class="pl-6 pr-6 lg:pl-16 lg:pr-16">
        <div class="flex content-center flex-wrap">
            <div class="w-full lg:w-6/12 p-2 text-center">
                <div class="p-12 h-full bg-black text-white">
                    <i class="fas fa-download text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Flextype</h4>
                    <p>
                        The Flextype release package contains: core functionality, default theme, admin panel and site plugins. <br>
                        <a class="underline inline-block mt-10" href="https://github.com/flextype/flextype/releases/download/v0.9.6/flextype-0.9.6.zip">DOWNLOAD</a>
                    </p>
                </div>
            </div>
            <div class="w-full lg:w-6/12 p-2 text-center">
                <div class="p-12 h-full bg-black text-white">
                    <i class="fas fa-plug text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Plugins</h4>
                    <p>
                        Extend and customize Flextype functionality with plugins. <br>
                        <a class="underline inline-block mt-10" href="https://github.com/flextype/plugins">DOWNLOAD</a>
                    </p>
                </div>
            </div>
            <div class="w-full lg:w-6/12 p-2 text-center">
                <div class="p-12 h-full bg-black text-white">
                    <i class="fas fa-palette text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Themes</h4>
                    <p>
                        Customize your site with a themes for Flextype.
                        <br>
                        <a class="underline inline-block mt-10" href="https://github.com/flextype/themes">DOWNLOAD</a>
                    </p>
                </div>
            </div>
            <div class="w-full lg:w-6/12 p-2 text-center">
                <div class="p-12 h-full bg-black text-white">
                    <i class="fab fa-github text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Support</h4>
                    <p>
                        If you want to report a bug or contribute your ideas, you can use the <a class="underline" href="https://github.com/flextype/flextype/issues">Flextype GitHub Issues tracker</a>.
                        <br><br>
                        <a class="underline" href="https://github.com/flextype">Go to GitHub</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
