{% extends "themes/default/templates/partials/base.html" %}

{% block content %}
<div class="page-content container">
    <h1 class="h2">
        {{ entry.title }}
        <p class="p" stylxe="text-align: center; max-width: 650px; margin:0 auto;">{{ entry.description }}</p>
    </h1>
    <div class="row">
        <div class="col-md-4">
            <nav class="nav flex-column">
                <a class="nav-link" href="#">Introduction</a>
            </nav>
            <h3>Basics</h3>
            <nav class="nav flex-column">
                <a class="nav-link" href="{{ base_url() }}/{{ locale }}/documentation/guide/basics/requirements">Requirements</a>
                <a class="nav-link" href="{{ base_url() }}/{{ locale }}/documentation/guide/basics/installation">Installation</a>
                <a class="nav-link" href="{{ base_url() }}/{{ locale }}/documentation/guide/basics/configuration">Configuration</a>
                <a class="nav-link" href="{{ base_url() }}/{{ locale }}/documentation/guide/basics/folder-structure">Folder Structure</a>
                <a class="nav-link" href="{{ base_url() }}/{{ locale }}/documentation/guide/basics/constants">Constants</a>
                <a class="nav-link" href="{{ base_url() }}/{{ locale }}/documentation/guide/basics/getting-help">Getting Help</a>
            </nav>
            <h3>Content</h3>
            <nav class="nav flex-column">
                <a class="nav-link" href="./guide/content/entries">Entries</a>
                <a class="nav-link" href="./guide/content/media">Media</a>
                <a class="nav-link" href="./guide/content/snippets">Snippets</a>
            </nav>
        </div>
        <div class="col-md-8">{{ entry.content|shortcode|raw}}</div>
    </div>
    <br><br><br>
</div>
{% endblock %}
