.btn {
    text-decoration: none;
    background-color: black;
    border-color: white;
    color: white;
    border: 3px solid white;

    position: relative;
    transition: all .3s;
    border-radius: 0;

    &:hover {
        background-color: white;
        color: black;
    }
}
