.mega-header {
    padding-top: 40px;
    padding-bottom: 120px;

    .h2 {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: .25em;
        margin-top: 60px;
    }

    .p {
        font-size: 26px;
        line-height: 40px;
        margin-bottom: 40px;
    }

    .admin-preview {
        width: 800px;
    }
}
