//
// Variables
//

@font-face {
    font-family: "noirpro-light";
    src: url("../../fonts/noirpro-light-webfont.woff2") format('woff2'), url("../../fonts/noirpro-light-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "noirpro-medium";
    src: url("../../fonts/noirpro-medium-webfont.woff2") format('woff2'), url("../../fonts/noirpro-medium-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "noirpro-semibold";
    src: url("../../fonts/noirpro-semibold-webfont.woff2") format('woff2'), url("../../fonts/noirpro-semibold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "noirpro-heavy";
    src: url("../../fonts/noirpro-heavy-webfont.woff2") format('woff2'), url("../../fonts/noirpro-heavy-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "noirpro-bold";
    src: url("../../fonts/noirpro-bold-webfont.woff2") format('woff2'), url("../../fonts/noirpro-bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

//
// Base
//
$base-font-family: 'noirpro-light', sans-serif;
$base-font-color: #606060;
$base-font-size: 20px;
$base-line-height: 32px;

//
// Scaffolding
//
$body-bg: #fff;
$body-color: #424243;

//
// Spacing
//
$base-spacing-unit: $base-font-size;
$half-spacing-unit: $base-spacing-unit / 2;