//
// Variables
//

//
// Base
//
$base-font-family: 'MORFY_400', "Helvetica Neue", Helvetica, arial, sans-serif;
$base-font-color: #606060;
$base-font-size: 18px;
$base-line-height: 26px;

//
// Colors Grayscale
//
$black: #000000;
$white: #ffffff;

//
// Scaffolding
//
$body-bg: #f2f4f5;
$footer-height: 400px;

//
// Spacing
//
$base-spacing-unit: $base-font-size;
$half-spacing-unit: $base-spacing-unit / 2;