# Global
.composer
composer.lock
package-lock.json
node_modules/
forum/config.php
forum/storage/cache/

# Flextype Specific
var/

# OS Generated
.DS_Store*
ehthumbs.db
Thumbs.db
*.swp

# phpstorm
.idea/*
