//
// Links
//

a {
    transition: all .3s ease;
    text-decoration: underline;

    color: $base-font-color;

    &:hover {
        text-decoration: underline;

        color: $black;
    }
}

.link-community {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
