//
// Main
//

body,
html {
    font-family: $base-font-family;
    font-size: $base-font-size;

    height: 100%;
    letter-spacing: 0;
    color: $body-color;
    background: $body-bg;
}

body,
button,
input,
p,
select,
textarea {
    font-family: $base-font-family;
    font-weight: 400;

    color: black;
}

img {
    max-width: 100%;
}

a {
    text-decoration: underline;
    color: black;

    &:hover {
        text-decoration: underline;
        color: black;
    }
}

body,
p {
    line-height: $base-line-height;
}

pre {
    background: #f0f0f0;
    padding: 20px;
}

h1 {
    font-size: 60px;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 40px;
}

h3,
h4,
h5 {
    margin-top: 40px;
}

pre {
    padding: 0;

    border: none;
    background-color: transparent;
    box-shadow: none;

    border-radius: 0;
    font-size: 16px;
    line-height: 26px;
}

code {
    color: black;
    background: #fafafa;
    padding: 2px 5px;
    font-size: 15px;
    line-height: 25px;
}

.hljs {
    font-weight: normal!important;
    font-size: 16px!important;
    line-height: 28px!important;
    padding: 15px !important;
}
