{% extends "themes/" ~ registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}
    <div class="container mx-auto bg-white text-black pb-24">
        <h1 class="uppercase text-center text-3xl lg:text-6xl m-0 pt-24 pb-24">
            {{ entry.title|raw }}
        </h1>
        <div class="w-full p-2 text-center">
            <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                <h3 class="m-0">Refresh this page to generate a new unique set of API Tokens.</h3>
            </div>
        </div>
        <div>
            <div class="flex content-center flex-wrap">
                <div class="w-full lg:w-6/12 p-2 text-center">
                    <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                        <i class="fas fa-truck text-6xl mb-5" aria-hidden="true"></i>
                        <h4 class="text-xl">Entries Rest API</h4>
                        <div class="mb-10">
                            Token: {{ api_tokens.delivery.entries.uuid }} <br><br>
                            <div class="text-left">
                                1. Create Delivery Entries token folder: <code>{{ api_tokens.delivery.entries.uuid }}</code> in <code>/project/tokens/delivery/entries/</code>

                                <br><br>

                                2. And add <code>token.yaml</code> file with content:<br><br>

                                <div class="bg-white text-black rounded-lg p-4">
                                    title: Default<br>
                                    icon: 'fas fa-database'<br>
                                    limit_calls: 0<br>
                                    calls: 0<br>
                                    state: enabled
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 p-2 text-center">
                    <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                        <i class="fas fa-truck text-6xl mb-5" aria-hidden="true"></i>
                        <h4 class="text-xl">Registry Rest API</h4>
                        <div class="mb-10">
                            Token: {{ api_tokens.delivery.registry.uuid }} <br><br>
                            <div class="text-left">
                                1. Create Delivery Registry token folder: <code>{{ api_tokens.delivery.registry.uuid }}</code> in <code>/project/tokens/delivery/registry/</code>

                                <br><br>

                                2. And add <code>token.yaml</code> file with content:<br><br>

                                <div class="bg-white text-black rounded-lg p-4">
                                    title: Default<br>
                                    icon: 'fas fa-database'<br>
                                    limit_calls: 0<br>
                                    calls: 0<br>
                                    state: enabled
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 p-2 text-center">
                    <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                        <i class="far fa-images text-6xl mb-5" aria-hidden="true"></i>
                        <h4 class="text-2xl">Images Rest API</h4>
                        <div class="mb-10">
                            Token: {{ api_tokens.images.uuid }} <br><br>
                            <div class="text-left">
                                1. Create Images token folder: <code>{{ api_tokens.images.uuid }}</code> in <code>/project/tokens/images/</code>

                                <br><br>

                                2. And add <code>token.yaml</code> file with content:<br><br>

                                <div class="bg-white text-black rounded-lg p-4">
                                    title: Default<br>
                                    icon: 'far fa-images'<br>
                                    limit_calls: 0<br>
                                    calls: 0<br>
                                    state: enabled
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 p-2 text-center">
                    <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                        <i class="fas fa-user-shield text-6xl mb-5" aria-hidden="true"></i>
                        <h4 class="text-xl">Access</h4>
                        <div class="mb-10">
                            Token: {{ api_tokens.access.uuid }} <br><br>
                            <div class="text-left">
                                1. Create Content Management API Token folder: <code>{{ api_tokens.access.uuid }}</code> in <code>/project/tokens/access/</code>

                                <br><br>

                                2. And add <code>token.yaml</code> file with content:<br><br>

                                <div class="bg-white text-black rounded-lg p-4">
                                    title: Default<br>
                                    icon: 'fas fa-user-shield'<br>
                                    limit_calls: 0<br>
                                    calls: 0<br>
                                    state: enabled
                                </div>

                                <br>
                                <div class="bg-red-700 rounded-lg p-4 text-white"><b>Note:</b> This your secret access token and it is should not be shared!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
