{% extends "themes/" ~ registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}
<div class="container mx-auto bg-white text-black pb-24">
    <h1 class="uppercase text-center text-3xl lg:text-6xl m-0 pl-6 pr-6 lg:pl-16 lg:pr-16 pt-24 pb-24 font-noirpro-semibold">
        {{ entry.title|raw }}
    </h1>
    <h2 class="text-center m-0 pl-6 pr-6 lg:pl-40 lg:pr-40 pb-24 text-xl font-normal">
        {{ entry.description|raw }}
    </h2>
    <div class="pl-6 pr-6 lg:pl-16 lg:pr-16">
        <div class="flex content-center flex-wrap mt-12">
            <div class="w-full lg:w-6/12 p-2 text-center">
                <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                    <i class="fab fa-discord text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Discord</h4>
                    <div class="h-24 mb-10">
                        Got a question about setting up or using Flextype? We'll do our best to help you out.
                        Also here you may start discussions about core, plugin and themes development.
                    </div>
                    <a class="uppercase text-center relative text-lg relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black" href="https://discord.gg/CCKPKVG">Join the Conversation</a>
                </div>
            </div>
            <div class="w-full lg:w-6/12 p-2 text-center">
                <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                    <i class="fab fa-github text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Github</h4>
                    <div class="h-24 mb-10">
                        If you want to report a bug or contribute your ideas, you can use the <a href="https://github.com/flextype/flextype/issues">Flextype GitHub Issues tracker</a>.
                    </div>
                    <a class="uppercase text-center relative text-lg relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black" href="https://github.com/flextype">Contribute</a>
                </div>
            </div>
            <div class="w-full lg:w-6/12 p-2 text-center">
                <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                    <i class="fab fa-vk text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Vkontakte</h4>
                    <div class="h-24 mb-10">
                        Russian Flextype Community!
                    </div>
                    <a class="uppercase text-center relative text-lg relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black" href="https://vk.com/flextype">Subscribe</a>
                </div>
            </div>
            <div class="w-full lg:w-6/12 p-2 text-center">
                <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                    <i class="fab fa-twitter text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Twitter</h4>
                    <div class="h-24 mb-10">
                        Follow <a href="https://twitter.com/getflextype">Flextype on Twitter</a> to get real-time news regarding the development and all events we are attending.
                    </div>
                    <a class="uppercase text-center relative text-lg relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black" href="https://twitter.com/getflextype">Follow Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
