{% extends "themes/" ~ registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}
    <div class="container mx-auto bg-white text-black pb-24">
        <h1 class="uppercase text-center text-3xl lg:text-6xl m-0 pl-6 pr-6 lg:pl-24 lg:pr-24 pt-24 pb-24 font-noirpro-semibold">
            {{ entry.title|raw }}
        </h1>
        <div class="pl-6 pr-6 lg:pl-16 lg:pr-16">
            <div class="flex content-center flex-wrap">
                <div class="w-full lg:w-6/12 p-2 text-center">
                    <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                        <i class="fas fa-download text-6xl mb-5" aria-hidden="true"></i>
                        <h4 class="text-2xl">Flextype</h4>
                        <div class="h-24 mb-10">
                            The Flextype release package contains:<br>
                            Core Functionality + Rest API.
                            <br>
                        </div>
                        <a class="no-underline uppercase text-center relative text-lg relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black"  href="https://github.com/flextype/flextype/releases/download/v0.9.8/flextype-0.9.8.zip">DOWNLOAD Flextype 0.9.8</a>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 p-2 text-center">
                    <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                        <i class="fas fa-star text-6xl mb-5" aria-hidden="true"></i>
                        <h4 class="text-2xl">Extend</h4>
                        <div class="h-24 mb-10">
                            Extend and Customize Flextype Core Functionality by adding plugins, themes, and other packages.
                            <br>
                        </div>
                        <a class="no-underline uppercase text-center relative text-lg relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black"  href="{{ url() }}/{{ locale }}/downloads/extend">EXTEND FLEXTYPE</a>
                    </div>
                </div>
                <div class="w-full p-2 text-center">
                    <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                        <i class="fas fa-info-circle text-6xl mb-5" aria-hidden="true"></i>
                        <h4 class="text-2xl">QUICK INSTALLATION</h4>
                        <div class="mb-10 text-left">
                            1. <a href="https://flextype.org/en/downloads">Download the latest version of Flextype.</a><br>
                            2. Unzip the contents to a new folder on your local computer, and upload to your webhost using the (S)FTP client of your choice. After you’ve done this, create directory <code>/project</code> and be sure to chmod the following directory to <code>755</code> (or <code>777</code>), so it is readable and writable by Flextype.<br>
                            3. Create CDA, CMA and Access tokens for your project using this <a href="https://flextype.org/en/api-token-generator">webpage</a>.
                            <br><br><br><br>
                            <div class="text-center">
                                <a class="no-underline uppercase text-center relative text-lg relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black"  href="https://docs.flextype.org/en/getting-started/installation">READ THE DOCUMENTATION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
