{% extends "themes/" ~ registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}
    <!-- introducing section -->
    <div class="bg-white text-black">
        <div class="container mx-auto">
            <div class="text-center">
                <h1 class="uppercase p-8 mb-10 lg:p-24 m-0 font-noirpro-semibold wow fadeIn text-3xl lg:text-5xl">{{ entry.intro_section_h1|raw }}</h1>
                <div class="flex justify-center wow fadeIn">
                    <a
                        href="{{ base_url() }}/{{ locale }}/downloads"
                        class="no-underline uppercase text-center relative text-lg relative pr-2 pl-2 pt-6 pb-6 w-10/12 lg:w-3/12 rounded-lg border-black bg-white border-2 text-black hover:bg-black hover:text-white wow fadeIn">{{ entry.intro_section_button|raw }}</a>
                </div>
                <div class="flex justify-center wow fadeIn">
                    <div class="mt-20">
                        <img src="{{ base_url() }}/api/images/{{ locale }}/flextype-banner.jpg?dpr=2&w=1000&q=70&token=3b29b31ae05c89c2009f6e3f96e3d703" width="1000" class="border-none" alt="{{ entry.description }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /introducing section -->

    <!-- features section -->
    <div class="text-center bg-white text-black pt-20">
        <h3 class="uppercase text-3xl lg:text-6xl font-noirpro-semibold wow fadeIn">{{ entry.features_heading|raw }}</h3>
        <p class="text-xl lg:text-3xl wow fadeIn">{{ entry.features_description|raw }}</p>

        <div class="flex content-center flex-wrap mt-12">
            <div class="w-full lg:w-1/3 p-8 wow fadeIn">
                <i class="fa fa-rocket text-6xl mb-5" aria-hidden="true"></i>
                <h4 class="text-2xl">Fast</h4>
                <p>
                    Flextype is super fast content management system because of its elegance architecture and built-in <a href="https://docs.flextype.org/en/concepts/performance">smart cache</a>.
                </p>
            </div>

            <div class="w-full lg:w-1/3 p-8 wow fadeIn">
                <i class="fa fa-cogs text-6xl mb-5" aria-hidden="true"></i>
                <h4 class="text-2xl">Flexible</h4>
                <p>
                    Building this content management system, we focused on simplicity and flexibility. To achieve this, we implemented a simple but powerful Core API's.
                </p>
            </div>

            <div class="w-full lg:w-1/3 p-8 wow fadeIn">
                <i class="fa fa-font text-6xl mb-5" aria-hidden="true"></i>
                <h4 class="text-2xl">Easy Editing</h4>
                <p>
                    With Flextype you are free to use any of your favorite content editor to write content or our gorgeous <a href="https://github.com/flextype-plugins/admin" target="_blank">Admin Panel</a>.
                </p>
            </div>

            <div class="w-full lg:w-1/3 p-8 wow fadeIn">
                <i class="fas fa-network-wired text-6xl mb-5" aria-hidden="true"></i>
                <h4 class="text-2xl">Built-in REST API</h4>
                <p>
                    Flextype REST API with compact JSON payloads gives you full programmatic control over your content management system.
                </p>
            </div>

            <div class="w-full lg:w-1/3 p-8 wow fadeIn">
                <i class="fa fa-list-alt text-6xl mb-5" aria-hidden="true"></i>
                <h4 class="text-2xl">Dynamic Content Types</h4>
                <p>
                    The flat-file nature of Flextype lets you define unlimited custom fields for any of your entries.
                </p>
            </div>

            <div class="w-full lg:w-1/3 p-8 wow fadeIn">
                <i class="fas fa-code-branch text-6xl mb-5" aria-hidden="true"></i>
                <h4 class="text-2xl">Version Control</h4>
                <p>
                    Flextype is a file-based CMS, you can version control all content with GIT or any other Version Control System.
                </p>
            </div>
        </div>
    </div>
    <!-- /features section -->

    <!-- no limits section -->
    <div class="text-center bg-white text-black">
        <div class="container mx-auto pt-20 pb-20">
            <h3 class="uppercase text-3xl lg:text-6xl font-noirpro-semibold wow fadeIn">{{ entry.features_no_limits_heading|raw }}</h3>
            <p class="text-xl lg:text-3xl wow fadeIn">{{ entry.features_no_limits_p|raw }}</p>

            <div class="flex content-center flex-wrap mt-12">

                <div class="w-full lg:w-3/12 p-8 wow fadeIn">
                    <i class="fas fa-desktop text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Websites</h4>
                    <p>
                        Business sites, Landing pages, Personal site, Portfolios, Product sites, Blogs, Web Apps
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-8 wow fadeIn">
                    <i class="fas fa-mobile-alt text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Native Apps</h4>
                    <p>
                        iOS, Android, Windows, Kai, Lineage, Fire, Flyme, Sailfish, Tizen, Remix.
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-8 wow fadeIn">
                    <i class="far fa-square text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Kiosks</h4>
                    <p>
                        Kiosks, Billboards, Digital Signage
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-8 wow fadeIn">
                    <i class="fas fa-running text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Wearables</h4>
                    <p>
                        Smartwatch Apps, Activity Trackers
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-8 wow fadeIn">
                    <i class="far fa-lightbulb text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">IoT Devices</h4>
                    <p>
                        Lights, Appliances, Auto
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-8 wow fadeIn">
                    <i class="fas fa-gamepad text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">Game Data</h4>
                    <p>
                        Mobile Games, VR, DLC
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-8 wow fadeIn">
                    <i class="far fa-compass text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">SaaS Platforms</h4>
                    <p>
                        CRM, Productivity Tools, & Commerce
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-8 wow fadeIn">
                    <i class="fas fa-shopping-cart text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">E-Commerce</h4>
                    <p>
                        E-Commerce, Inventory, & POS
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /no limits section -->

    <!-- community section -->
    <div class="text-center bg-white text-black">
        <div class="container mx-auto pt-20 pb-20">
            <h3 class="uppercase text-3xl lg:text-6xl font-noirpro-semibold wow fadeIn">{{ entry.community_heading|raw }}</h3>
            <p class="text-xl lg:text-3xl">{{ entry.community_p|raw }}</p>

            <div class="flex content-center flex-wrap mt-12">
                <div class="w-full lg:w-4/12 p-8 wow fadeIn">
                    <i class="fab fa-discord text-7xl mb-5"></i>
                    <h4 class="text-2xl">Discord</h4>
                    <div class="text-base h-32">
                        Got a question about setting up or using Flextype? We'll do our best to help you out.
                        Also here you may start discussions about core, plugin and themes development.
                    </div>
                    <a class="no-underline uppercase text-center relative text-lg relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black wow fadeIn" href="https://discord.gg/CCKPKVG">Join the Conversation</a>
                </div>

                <div class="w-full lg:w-4/12 p-8 wow fadeIn">
                    <i class="fab fa-github text-7xl mb-5"></i>
                    <h4 class="text-2xl">Github</h4>
                    <div class="text-base h-32">
                        If you want to report a bug or contribute your ideas, you can use the <a href="https://github.com/flextype/flextype/issues">Flextype GitHub Issues tracker</a>.
                    </div>
                    <a class="no-underline uppercase text-center relative text-lg relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black wow fadeIn" href="https://github.com/flextype">Contribute</a>
                </div>

                <div class="w-full lg:w-4/12 p-8 wow fadeIn">
                    <i class="fab fa-twitter text-7xl mb-5"></i>
                    <h4 class="text-2xl">Twitter</h4>
                    <div class="text-base h-32">
                        Follow <a href="https://twitter.com/getflextype">Flextype on Twitter</a> to get real-time news regarding the development and all events we are attending.
                    </div>
                    <a class="no-underline uppercase text-center relative text-lg relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black wow fadeIn" href="https://twitter.com/getflextype">Follow Us</a>
                </div>
            </div>

        </div>
    </div>
    <!-- /community section -->

    <!-- /contribution section -->
    <div class="text-center bg-white text-black">
        <div class="container mx-auto pt-20 pb-40">
            <h3 class="uppercase text-3xl lg:text-6xl font-noirpro-semibold wow fadeIn">{{ entry.contribution_heading|raw }}</h3>
            <p class="text-xl lg:text-3xl pl-20 pr-20 wow fadeIn">{{ entry.contribution_p|raw }}</p>

            <div class="w-full text-center">
                <div class="mb-10">
                    <div class="flex content-center flex-wrap">
                        <div class="w-full lg:w-6/12 p-8 wow fadeIn">
                            <div class="text-left">
                                <h4 class="text-center">FINANCIAL SUPPORT</h4>
                                Flextype is an MIT-licensed open source project and completely free to use.
                                However, the amount of effort needed to maintain and develop new features for the project is not sustainable without proper financial backing. <br><br> You can support it's ongoing development by being a project backer or a sponsor:<br>
                                <a class="invert" href="https://www.patreon.com/awilum">Become a backer or sponsor on Patreon</a>,
                                <a class="invert" href="//flextype.org/en/one-time-donation">One-time donation via PayPal, QIWI, Sberbank, Yandex</a>,
                                <a class="invert" href="//flextype.org/en/sponsors">Visit our Sponsors & Backers page</a>
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 p-8 wow fadeIn">
                            <div class="text-left">
                                <h4 class="text-center">INTERNATIONAL TRANSLATOR TEAM</h4>
                                We are on a mission to build high quality platform to develop fast, flexible, easier to manage websites with Flextype!<br><br>
                                If you wish to participate in the translation of Flextype, please Join Flextype International Translator Team and start translating!<br><br>
                                Our crowdin projects:<br>
                                <a href="https://crowdin.com/project/flextype-plugin-admin" class="invert">Flextype Admin Panel Plugin</a>, <a href="https://crowdin.com/project/flextype-plugin-form-admin" class="invert">Flextype Form Admin Plugin</a>, <a href="https://crowdin.com/project/flextype-plugin-themes-admin" class="invert">Flextype Themes Admin Plugin</a>, <a href="https://crowdin.com/project/flextype-plugin-accounts-admin" class="invert">Flextype Accounts Plugin</a>, <a href="https://crowdin.com/project/flextype-plugin-accounts-admin" class="invert">Flextype Accounts Admin Plugin</a>, <a href="https://crowdin.com/project/flextype-website" class="invert">Flextype Website</a>, <a href="https://crowdin.com/project/flextype-documentation" class="invert">Flextype Documentation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /contribution section -->
{% endblock %}
