{% extends "themes/" ~ registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}
    <!-- introducing section -->
    <div class="container relative mx-auto">
        <div class="text-center">
            <h1 class="uppercase m-0 p-24 font-noirpro-semibold wow fadeIn text-3xl lg:text-5xl">{{ registry.get('sections.intro_section_h1')|raw }}</h1>
            <div class="flex justify-center wow fadeIn">
                <a
                    href="{{ base_url() }}/{{ locale }}/downloads"
                    class="no-underline uppercase text-center relative text-lg relative pr-2 pl-2 pt-6 pb-6 w-10/12 lg:w-3/12 rounded-lg border-black bg-white border-2 text-black hover:bg-black hover:text-white wow fadeIn">{{ registry.get('sections.intro_section_button')|raw }}</a>
            </div>
            <div class="flex justify-center wow fadeIn">
                <div class="mt-20">
                    <img src="{{ base_url() }}/api/images/{{ locale }}/flextype-banner.jpg?dpr=2&w=1000&q=70&token=3b29b31ae05c89c2009f6e3f96e3d703" width="1000" class="border-none" alt="{{ entry.description }}">
                </div>
            </div>
        </div>
    </div>
    <!-- /introducing section -->

    <!-- features section -->
    <div class="text-center pt-20">
        <div class="container relative mx-auto">
            <h3 class="uppercase text-3xl lg:text-6xl font-noirpro-semibold wow fadeIn">{{ registry.get('sections.features_heading')|raw }}</h3>
            <p class="text-xl lg:text-3xl wow fadeIn">{{ registry.get('sections.features_description')|raw }}</p>

            <div class="flex content-center flex-wrap mt-12">
                <div class="w-full lg:w-1/3 p-8 wow fadeIn">
                    <i class="fa fa-rocket text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.features_fast_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.features_fast_description')|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6 wow fadeIn">
                    <i class="fa fa-cogs text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.features_fast_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.features_fast_description')|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6 wow fadeIn">
                    <i class="fa fa-font text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.features_easy_editing_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.features_easy_editing_description')|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6 wow fadeIn">
                    <i class="fas fa-network-wired text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.features_built_in_rest_api_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.features_built_in_rest_api_description')|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6 wow fadeIn">
                    <i class="fa fa-list-alt text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.features_dynamic_content_types_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.features_dynamic_content_types_description')|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6 wow fadeIn">
                    <i class="fas fa-code-branch text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.features_dynamic_content_types_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.features_dynamic_content_types_description')|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /features section -->

    <!-- no limits section -->
    <div class="text-center">
        <div class="container mx-auto pt-20 pb-20">
            <h3 class="uppercase text-3xl lg:text-6xl font-noirpro-semibold wow fadeIn">{{ registry.get('sections.features_no_limits_heading')|raw }}</h3>
            <p class="text-xl lg:text-3xl wow fadeIn">{{ registry.get('sections.features_no_limits_description')|raw }}</p>

            <div class="flex content-center flex-wrap mt-12">

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="fas fa-desktop text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.no_limits_websites_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.no_limits_websites_description')|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="fas fa-mobile-alt text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.native_apps_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.native_apps_description')|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="far fa-square text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.kiosks_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.kiosks_description')|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="fas fa-running text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.wearables_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.wearables_description')|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="far fa-lightbulb text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.iot_devices_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.iot_devices_description')|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="fas fa-gamepad text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.game_data_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.game_data_description')|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="far fa-compass text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.saas_platforms_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.saas_platforms_description')|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="fas fa-shopping-cart text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.ecommerce_heading')|raw }}</h4>
                    <p>
                        {{ registry.get('sections.ecommerce_description')|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /no limits section -->

    <!-- community section -->
    <div class="text-center">
        <div class="container mx-auto pt-20 pb-20">
            <h3 class="uppercase text-3xl lg:text-6xl font-noirpro-semibold wow fadeIn">{{ registry.get('sections.community_heading')|raw }}</h3>
            <p class="text-xl lg:text-3xl">{{ registry.get('sections.community_heading')|raw }}</p>

            <div class="flex content-center flex-wrap mt-12">
                <div class="w-full lg:w-4/12 p-6 wow fadeIn">
                    <i class="fab fa-discord text-7xl mb-5"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.discord_heading')|raw }}</h4>
                    <div class="text-base h-32">
                        {{ registry.get('sections.discord_description')|raw }}
                    </div>
                    <a class="no-underline uppercase text-center relative text-base relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black wow fadeIn" href="https://discord.gg/CCKPKVG">{{ registry.get('sections.discord_button')|raw }}</a>
                </div>

                <div class="w-full lg:w-4/12 p-6 wow fadeIn">
                    <i class="fab fa-github text-7xl mb-5"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.github_heading')|raw }}</h4>
                    <div class="text-base h-32">
                        {{ registry.get('sections.github_description')|raw }}
                    </div>
                    <a class="no-underline uppercase text-center relative text-base relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black wow fadeIn" href="https://github.com/flextype">{{ registry.get('sections.github_button')|raw }}</a>
                </div>

                <div class="w-full lg:w-4/12 p-6 wow fadeIn">
                    <i class="fab fa-twitter text-7xl mb-5"></i>
                    <h4 class="text-2xl">{{ registry.get('sections.twitter_heading')|raw }}</h4>
                    <div class="text-base h-32">
                        {{ registry.get('sections.twitter_description')|raw }}
                    </div>
                    <a class="no-underline uppercase text-center relative text-base relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black wow fadeIn" href="https://twitter.com/getflextype">{{ registry.get('sections.twitter_button')|raw }}</a>
                </div>
            </div>

        </div>
    </div>
    <!-- /community section -->

    <!-- /contribution section -->
    <div class="text-center">
        <div class="container mx-auto pt-20 pb-40">
            <h3 class="uppercase text-3xl lg:text-6xl font-noirpro-semibold wow fadeIn">{{ registry.get('sections.contribution_heading')|raw }}</h3>
            <p class="text-xl lg:text-3xl px-8 mb-8 wow fadeIn">{{ registry.get('sections.contribution_description')|raw }}</p>
            <div class="w-full text-center">
                <div class="mb-10">
                    <div class="flex content-center flex-wrap">
                        <div class="w-full lg:w-6/12 p-2 wow fadeIn">
                            <div class="text-left">
                                {{ registry.get('sections.contribution_description_financial_support')|raw }}
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 p-2 wow fadeIn">
                            <div class="text-left">
                                {{ registry.get('sections.contribution_description_international_translator_team')|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /contribution section -->
{% endblock %}
