{% extends "themes/" ~ registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}
    <!-- introducing section -->
    <div class="container relative mx-auto mb-10">
        <div class="text-center">
            <h1 class="uppercase m-0 p-24 wow fadeIn text-xl lg:text-5xl">{{ entry.txt_intro_section_h1|raw }}</h1>
            <div class="flex justify-center wow fadeIn">
                <a
                    href="{{ base_url() }}/{{ locale }}/downloads"
                    class="w-10/12 lg:w-3/12 wow fadeIn button">{{ entry.txt_intro_section_button|raw }}</a>
            </div>
        </div>
    </div>
    <!-- /introducing section -->

    <!-- features section -->
    <div class="text-center pt-20">
        <div class="container relative mx-auto">
            <h3 class="uppercase text-xl lg:text-5xl wow fadeIn">{{ entry.txt_features_heading|raw }}</h3>
            <p class="text-xl lg:text-2xl wow fadeIn">{{ entry.txt_features_description|raw }}</p>

            <div class="flex content-center flex-wrap mt-12">
                <div class="w-full lg:w-1/3 p-8 wow fadeIn">
                    <i class="fa fa-rocket text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_features_fast_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_features_fast_p|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6 wow fadeIn">
                    <i class="fa fa-cogs text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_features_flexible_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_features_flexible_p|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6 wow fadeIn">
                    <i class="fa fa-font text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_features_easy_editing_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_features_easy_editing_p|replace({"%url_start%": '<a href="https://twitter.com/getflextype">', "%url_end%": "</a>"})|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6 wow fadeIn">
                    <i class="fas fa-network-wired text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_features_built_in_rest_api_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_features_built_in_rest_api_p|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6 wow fadeIn">
                    <i class="fa fa-list-alt text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_features_dynamic_content_types_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_features_dynamic_content_types_p|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6 wow fadeIn">
                    <i class="fas fa-code-branch text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_features_version_control_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_features_version_control_p|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /features section -->

    <!-- no limits section -->
    <div class="text-center">
        <div class="container mx-auto pt-20 pb-20">
            <h3 class="uppercase text-xl lg:text-5xl wow fadeIn">{{ entry.txt_features_no_limits_heading|raw }}</h3>
            <p class="text-xl lg:text-2xl px-20 wow fadeIn">{{ entry.txt_features_no_limits_p|raw }}</p>

            <div class="flex content-center flex-wrap mt-12">

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="fas fa-desktop text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_no_limits_websites_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_no_limits_websites_p|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="fas fa-mobile-alt text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_native_apps_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_native_apps_p|raw }}

                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="far fa-square text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_kiosks_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_kiosks_p|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="fas fa-running text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_wearables_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_wearables_p|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="far fa-lightbulb text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_iot_devices_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_iot_devices_heading|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="fas fa-gamepad text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_game_data_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_game_data_p|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="far fa-compass text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_saas_platforms_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_saas_platforms_p|raw }}
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6 wow fadeIn">
                    <i class="fas fa-shopping-cart text-6xl mb-5" aria-hidden="true"></i>
                    <h4 class="text-2xl">{{ entry.txt_ecommerce_heading|raw }}</h4>
                    <p>
                        {{ entry.txt_ecommerce_heading|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /no limits section -->

    <!-- community section -->
    <div class="text-center">
        <div class="container mx-auto pt-20 pb-20">
            <h3 class="uppercase text-xl lg:text-5xl wow fadeIn">{{ entry.txt_community_heading|raw }}</h3>
            <p class="text-xl lg:text-2xl px-20 wow fadeIn">{{ entry.txt_community_p|raw }}</p>

            <div class="flex content-center flex-wrap mt-12">
                <div class="w-full lg:w-4/12 p-6 wow fadeIn">
                    <i class="fab fa-discord text-7xl mb-5"></i>
                    <h4 class="text-2xl">{{ entry.txt_discord_heading|raw }}</h4>
                    <div class="text-base h-40">
                        {{ entry.txt_discord_p|raw }}
                    </div>
                    <a class="pl-6 pr-6 pt-2 pb-2 wow fadeIn button text-base" href="https://discord.gg/CCKPKVG">{{ entry.txt_discord_button|raw }}</a>
                </div>

                <div class="w-full lg:w-4/12 p-6 wow fadeIn">
                    <i class="fab fa-github text-7xl mb-5"></i>
                    <h4 class="text-2xl">{{ entry.txt_github_heading|raw }}</h4>
                    <div class="text-base h-40">
                        {{ entry.txt_github_p|replace({"%url_start%": '<a href="https://github.com/flextype/flextype/issues">', "%url_end%": "</a>"})|raw }}
                    </div>
                    <a class="pl-6 pr-6 pt-2 pb-2 wow fadeIn button text-base" href="https://github.com/flextype">{{ entry.txt_github_button|raw }}</a>
                </div>

                <div class="w-full lg:w-4/12 p-6 wow fadeIn">
                    <i class="fab fa-twitter text-7xl mb-5"></i>
                    <h4 class="text-2xl">{{ entry.txt_twitter_heading|raw }}</h4>
                    <div class="text-base h-40">
                        {{ entry.txt_twitter_p|replace({"%url_start%": '<a href="https://twitter.com/getflextype">', "%url_end%": "</a>"})|raw }}
                    </div>
                    <a class="pl-6 pr-6 pt-2 pb-2 wow fadeIn button text-base" href="https://twitter.com/getflextype">{{ entry.txt_twitter_button|raw }}</a>
                </div>
            </div>

        </div>
    </div>
    <!-- /community section -->

    <!-- /contribution section -->
    <div class="text-center">
        <div class="container mx-auto pt-20 pb-40">
            <h3 class="uppercase text-xl lg:text-5xl wow fadeIn">{{ entry.txt_contribution_heading|raw }}</h3>
            <p class="text-xl lg:text-2xl px-20 mb-8 wow fadeIn">{{ entry.txt_contribution_p|raw }}</p>
            <div class="w-full text-center">
                <div class="mb-10">
                    <div class="flex content-center flex-wrap">
                        <div class="w-full lg:w-6/12 p-2 wow fadeIn">
                            <div class="text-left">
                                <h4 class="text-center">{{ entry.txt_contribution_financial_support_heading|raw }}</h4>
                                {{ entry.txt_contribution_financial_support_p|raw }}
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 p-2 wow fadeIn">
                            <div class="text-left">
                                <h4 class="text-center">{{ entry.txt_contribution_itt_heading|raw }}</h4>
                                {{ entry.txt_contribution_itt_p|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /contribution section -->

    <!-- /sponsors section -->
    <div class="text-center">
        <div class="container mx-auto pb-40">
            <h3 class="uppercase text-xl lg:text-5xl wow fadeIn">{{ entry.txt_sponsors_heading|raw }}</h3>
            <div class="w-full text-center">
                <div class="mb-10">
                    <div class="flex content-center flex-wrap">
                        <div class="w-full p-2 wow fadeIn">
                            <div class="text-center">
                                <a href="https://twitter.com/jeremyjmonroe" style="text-decoration: none;">
                                    Jeremy Monroe
                                </a>
                                <a href="https://web-easy.org">
                                    <img src="{{ url() }}/api/images/en/sponsors/webeasy.png?dpr=2&w=80&q=70&token=3b29b31ae05c89c2009f6e3f96e3d703" alt="" class="inline">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /sponsors section -->
{% endblock %}
