{% extends "themes/" ~ registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}

{% set name = uri|split('/')|last %}

<div class="container mx-auto bg-white text-black pb-24">
    <div class="uppercase text-center pt-24 pb-24 m-0">
        <div>
            <h1 class="text-3xl lg:text-6xl mb-0"><a class="no-underline" href="{{ url() }}/{{ locale }}/downloads/extend/{{ name }}">{{ entry.title }}</a></h1>
        </div>
        <div>
            <span class="opacity-50"><a class="no-underline" href="{{ url() }}/{{ locale }}/downloads">DOWNLOADS</a></span>
            <span class="opacity-50">/</span>
            <span class="opacity-50"><a class="no-underline" href="{{ url() }}/{{ locale }}/downloads/extend">EXTEND</a></span>
        </div>
    </div>
    <div class="flex content-center flex-wrap">
        <div class="w-full lg:w-9/12 p-2 text-center">

            {# pagination #}

              {% set page = query.page %}
              {% set tag = query.tag %}
              {% set author = query.author %}

              {% set plugins_items_limit = 10 %}

              {% if plugins_items_limit == 0 %}
                  {% set plugins_items_limit = 5 %}
              {% endif %}

              {% if tag %}

                  {# @todo get count from cache! #}
                  {% set plugins_items_length = entries.fetchCollection(locale ~ '/downloads/extend/plugins')
                                                       .where('keywords', 'contains', tag)
                                                       .where('visibility', 'nin', ['draft', 'hidden'])
                                                       .count() %}

                  {% set plugins_items_pages = (plugins_items_length/plugins_items_limit)|round(0, 'ceil') %}
                  {% if page < 1 %}
                      {% set page = 1 %}
                  {% elseif page > plugins_items_pages %}
                      {% set page = plugins_items_pages %}
                  {% endif %}
                  {% set plugins_items_offset = (page-1)*plugins_items_limit %}
                  {% if plugins_items_offset < 0 %}{% set plugins_items_offset = 0 %}{% endif %}

                  {% set plugins_items = entries.fetchCollection(locale ~ '/downloads/extend/plugins')
                                                .where('keywords', 'contains', tag)
                                                .where('visibility', 'nin', ['draft', 'hidden'])
                                                .sortBy('published_at', 'DESC')
                                                .slice(plugins_items_offset, plugins_items_limit) %}


              {% elseif author %}

                {# @todo get count from cache! #}
                {% set plugins_items_length = entries.fetchCollection(locale ~ '/downloads/extend/plugins')
                                                     .where('author.email', 'eq', author)
                                                     .where('visibility', 'nin', ['draft', 'hidden'])
                                                     .count() %}

                {% set plugins_items_pages = (plugins_items_length/plugins_items_limit)|round(0, 'ceil') %}
                {% if page < 1 %}
                    {% set page = 1 %}
                {% elseif page > plugins_items_pages %}
                    {% set page = plugins_items_pages %}
                {% endif %}
                {% set plugins_items_offset = (page-1)*plugins_items_limit %}
                {% if plugins_items_offset < 0 %}{% set plugins_items_offset = 0 %}{% endif %}


                {% set plugins_items = entries.fetchCollection(locale ~ '/downloads/extend/plugins')
                                              .where('author.email', 'eq', 'author')
                                              .where('visibility', 'nin', ['draft', 'hidden'])
                                              .sortBy('published_at', 'DESC')
                                              .slice(plugins_items_offset, plugins_items_limit) %} %}

              {% else %}

                  {# @todo get count from cache! #}
                  {% set plugins_items_length = entries.fetchCollection(locale ~ '/downloads/extend/plugins')
                                                       .where('visibility', 'nin', ['draft', 'hidden'])
                                                       .count() %}

                  {% set plugins_items_pages = (plugins_items_length/plugins_items_limit)|round(0, 'ceil') %}

                  {% if page < 1 %}
                      {% set page = 1 %}
                  {% elseif page > plugins_items_pages %}
                      {% set page = plugins_items_pages %}
                  {% endif %}

                  {% set plugins_items_offset = (page-1)*plugins_items_limit %}
                  {% if plugins_items_offset < 0 %}{% set plugins_items_offset = 0 %}{% endif %}

                  {% set plugins_items = entries.fetchCollection(locale ~ '/downloads/extend/plugins')
                                                .where('visibility', 'nin', ['draft', 'hidden'])
                                                .sortBy('published_at', 'DESC')
                                                .slice(plugins_items_offset, plugins_items_limit) %}
              {% endif %}

              {# /pagination #}

             {% for item in plugins_items %}
             <a href="{{ url() }}/{{ item.slug }}" class="flex align-middle mb-6 extend wow fadeIn">
                 <i class="{{ item.icon }} text-5xl mr-5 ml-5"></i>
                 <div class="text-left">
                     <h4 class="text-xl pb-0 mb-0 block">{{ item.title }}</h4>
                     <p class="m-0">
                         {{ item.description }}
                     </p>
                 </div>
             </a>
           {% endfor %}

           {# pagination navigation #}
           <div class="text-center">
               {% if (page - 1) > 0 %}
                   <a href="?page={{ page - 1 }}{% if author %}&author={{ author }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}">&larr;</a>
               {% endif %}
               {% if plugins_items_pages is not null and plugins_items_pages > 1 %}
                   {{ page }} / {{ plugins_items_pages }}
               {% endif %}
               {% if (page) < plugins_items_pages %}
                   <a href="?page={{ page + 1 }}{% if author %}&author={{ author }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}">&rarr;</a>
               {% endif %}
           </div>
           {# /pagination navigation #}

        </div>
        <div class="w-full lg:w-3/12 p-2">
            <div class="text-black text-left p-6 mb-6 plate wow fadeIn">
            {# keywords-cloud #}
            {% set keywords_cloud = [] %}

            {% for post in entries.fetchCollection(locale ~ '/downloads/extend/plugins')
                                          .where('visibility', 'nin', ['draft', 'hidden'])
                                          .sortBy('published_at', 'DESC') %}
                {% set keywords = post.keywords|replace({' ': ''}) %}
                {% set keywords_cloud = keywords_cloud|merge(keywords|split(',')) %}
            {% endfor %}

            {% if keywords_cloud|length > 0 %}
                <h4 class="text-left mb-2">Tags</h4>
                {% for tag in keywords_cloud|reduce((unique, item) => item in unique ? unique : unique|merge([item]), [])  %}
                    <a class="no-underline px-1 mb-2 block" href="{{ url() }}/{{ locale }}/downloads/extend/plugins?tag={{ tag|trim }}">#{{ tag|trim }}</a>
                {% endfor %}
            {% endif %}
            {# /keywords-cloud #}
            </div>
            <a class="pl-6 pr-6 pt-2 pb-2 wow w-full fadeIn button text-base"
            href="https://github.com/flextype/flextype.org/tree/dev/project/entries/en/downloads/extend/plugins">SUBMIT PLUGIN</a>
        </div>
    </div>

{% endblock %}
