{% extends "themes/" ~ registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}

{% set name = uri|split('/')|last %}

<div class="container mx-auto bg-white text-black pb-24">
    <div class="uppercase text-center pt-24 pb-24 m-0 font-noirpro-semibold">
        <div>
            <h1 class="text-3xl lg:text-6xl mb-0"><a class="no-underline" href="{{ url() }}/{{ locale }}/downloads/extend/{{ name }}">{{ entry.title }}</a></h1>
        </div>
        <div>
            <span class="opacity-50"><a class="no-underline" href="{{ url() }}/{{ locale }}/downloads">DOWNLOADS</a></span>
            <span class="opacity-50">/</span>
            <span class="opacity-50"><a class="no-underline" href="{{ url() }}/{{ locale }}/downloads/extend">EXTEND</a></span>
        </div>
    </div>
    <div class="flex content-center flex-wrap">
        <div class="w-full lg:w-9/12 p-2 text-center">

            {# pagination #}

              {% set page = query.page %}
              {% set tag = query.tag %}
              {% set author = query.author %}

              {% set plugins_items_limit = 2 %}

              {% if plugins_items_limit == 0 %}
                  {% set plugins_items_limit = 5 %}
              {% endif %}

              {% if tag %}

                  {# @todo get count from cache! #}
                  {% set plugins_items_length = entries.fetch('en/downloads/extend/plugins', {
                                                                      'where': {
                                                                          'key': 'tags',
                                                                          'expr': 'contains',
                                                                          'value': tag
                                                                      },
                                                                      'and_where': [{
                                                                          'key': 'visibility',
                                                                          'expr': 'nin',
                                                                          'value': ['draft', 'hidden']
                                                                      }]
                                                                  })|length %}

                  {% set plugins_items_pages = (plugins_items_length/plugins_items_limit)|round(0, 'ceil') %}
                  {% if page < 1 %}
                      {% set page = 1 %}
                  {% elseif page > plugins_items_pages %}
                      {% set page = plugins_items_pages %}
                  {% endif %}
                  {% set plugins_items_offset = (page-1)*plugins_items_limit %}
                  {% if plugins_items_offset < 0 %}{% set plugins_items_offset = 0 %}{% endif %}

                  {% set plugins_items = entries.fetch('en/downloads/extend/plugins', {
                                                              'where': {
                                                                  'key': 'tags',
                                                                  'expr': 'contains',
                                                                  'value': tag
                                                              },
                                                              'and_where': [{
                                                                  'key': 'visibility',
                                                                  'expr': 'nin',
                                                                  'value': ['draft', 'hidden']
                                                              }],
                                                              'order_by': {
                                                                  'field': 'published_at',
                                                                  'direction': 'desc'
                                                              },
                                                              'set_max_result': plugins_items_limit,
                                                              'set_first_result': plugins_items_offset
                                                          }) %}

              {% elseif author %}

                {# @todo get count from cache! #}
                {% set plugins_items_length = entries.fetch('en/downloads/extend/plugins', {
                                                                    'where': {
                                                                        'key': 'author.email',
                                                                        'expr': 'eq',
                                                                        'value': author
                                                                    },
                                                                    'and_where': [{
                                                                        'key': 'visibility',
                                                                        'expr': 'nin',
                                                                        'value': ['draft', 'hidden']
                                                                    }]
                                                                })|length %}

                {% set plugins_items_pages = (plugins_items_length/plugins_items_limit)|round(0, 'ceil') %}
                {% if page < 1 %}
                    {% set page = 1 %}
                {% elseif page > plugins_items_pages %}
                    {% set page = plugins_items_pages %}
                {% endif %}
                {% set plugins_items_offset = (page-1)*plugins_items_limit %}
                {% if plugins_items_offset < 0 %}{% set plugins_items_offset = 0 %}{% endif %}

                {% set plugins_items = entries.fetch('en/downloads/extend/plugins', {
                                                            'where': {
                                                                'key': 'author.email',
                                                                'expr': 'eq',
                                                                'value': author
                                                            },
                                                            'and_where': [{
                                                                'key': 'visibility',
                                                                'expr': 'nin',
                                                                'value': ['draft', 'hidden']
                                                            }],
                                                            'order_by': {
                                                                'field': 'published_at',
                                                                'direction': 'desc'
                                                            },
                                                            'set_max_result': plugins_items_limit,
                                                            'set_first_result': plugins_items_offset
                                                        }) %}
              {% else %}

                  {# @todo get count from cache! #}
                  {% set plugins_items_length = entries.fetch('en/downloads/extend/plugins', {
                                                                      'where': {
                                                                          'key': 'visibility',
                                                                          'expr': 'nin',
                                                                          'value': ['draft', 'hidden']
                                                                      }
                                                                  })|length %}

                  {% set plugins_items_pages = (plugins_items_length/plugins_items_limit)|round(0, 'ceil') %}

                  {% if page < 1 %}
                      {% set page = 1 %}
                  {% elseif page > plugins_items_pages %}
                      {% set page = plugins_items_pages %}
                  {% endif %}

                  {% set plugins_items_offset = (page-1)*plugins_items_limit %}
                  {% if plugins_items_offset < 0 %}{% set plugins_items_offset = 0 %}{% endif %}

                  {% set plugins_items = entries.fetch('en/downloads/extend/plugins', {
                                                              'where': {
                                                                  'key': 'visibility',
                                                                  'expr': 'nin',
                                                                  'value': ['draft', 'hidden']
                                                              },
                                                              'order_by': {
                                                                  'field': 'published_at',
                                                                  'direction': 'desc'
                                                              },
                                                              'set_max_result': plugins_items_limit,
                                                              'set_first_result': plugins_items_offset}) %}

              {% endif %}

              {# /pagination #}

             {% for item in plugins_items %}
             <a href="{{ url() }}/{{ item.slug }}" class="no-underline p-6 text-black flex align-middle rounded-lg border-none mb-6 hover:border-none" style="background: #f8f9fb;">
                 <i class="{{ item.icon }} text-5xl mr-5"></i>
                 <div class="text-left">
                     <h4 class="text-xl pb-0 mb-0 block">{{ item.title }}</h4>
                     <p class="m-0">
                         {{ item.description }}
                     </p>
                 </div>
             </a>
           {% endfor %}

           {# pagination navigation #}
           <div class="text-center">
               {% if (page - 1) > 0 %}
                   <a href="?page={{ page - 1 }}{% if author %}&author={{ author }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}">&larr;</a>
               {% endif %}
               {% if plugins_items_pages is not null and plugins_items_pages > 1 %}
                   {{ page }} / {{ plugins_items_pages }}
               {% endif %}
               {% if (page) < plugins_items_pages %}
                   <a href="?page={{ page + 1 }}{% if author %}&author={{ author }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}">&rarr;</a>
               {% endif %}
           </div>
           {# /pagination navigation #}

        </div>
        <div class="w-full lg:w-3/12 p-2">
            <div class="text-black text-left rounded-lg p-6" style="background: #f8f9fb;">
            {# tags-cloud #}
            {% set tags_cloud = [] %}
            {% for post in entries.fetch('en/downloads/extend/plugins', {
                                                    'where': {
                                                        'key': 'visibility',
                                                        'expr': 'nin',
                                                        'value': ['draft', 'hidden']
                                                    },
                                                    'order_by': {
                                                        'field': 'published_at',
                                                        'direction': 'desc'
                                                    }
                                                }) %}
                {% set tags_cloud = tags_cloud|merge(post.tags|split(',')) %}
            {% endfor %}

            {% if tags_cloud|length > 0 %}
                <h4 class="text-left mb-2">Tags</h4>
                <ul class="list-none m-0">
                    {% for tag in tags_cloud|reduce((unique, item) => item in unique ? unique : unique|merge([item]), [])  %}
                        <li><a class="no-underline py-1 block" href="{{ url() }}/en/downloads/extend/plugins?tag={{ tag }}">#{{ tag|trim }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {# /tags-cloud #}

            </div>
            <div class="text-black text-center p-6">
                <a class="no-underline uppercase text-center relative text-lg relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 rounded-lg hover:bg-black hover:text-white hover:border-black" href="https://docs.flextype.org/en/getting-started/installation">SUBMIT A PLUGIN</a>
            </div>
            <!--
            <div class="text-black text-left rounded-lg p-6 mt-6" style="background: #f8f9fb;">
                {% set plugins = [] %}
                {% for plugin in entries.fetch('en/downloads/extend/plugins', {
                                                        'where': {
                                                            'key': 'visibility',
                                                            'expr': 'nin',
                                                            'value': ['draft', 'hidden']
                                                        },
                                                        'order_by': {
                                                            'field': 'published_at',
                                                            'direction': 'desc'
                                                        }
                                                    }) %}
                    {% set plugins = plugins|merge({'email': plugin.author.email}) %}
                {% endfor %}

                {% if plugins|length > 0 %}
                    <h4 class="text-left mb-2">Authors</h4>
                    {% for plugin in plugins|reduce((unique, item) => item in unique ? unique : unique|merge([item]), [])  %}
                        <a href="{{ url() }}/en/downloads/extend/plugins?author={{ plugin }}"><span class="badge badge-primary">{{ plugin }}</span></a>
                    {% endfor %}
                {% endif %}
            </div>
            -->
        </div>
    </div>
</div>
{% endblock %}
