//
// Nav
//

.navbar-expand-lg {
    > .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


.navbar-light {
    .navbar-nav {
        .nav-link {
            padding-left: 15px;
            padding-right: 15px;
            border-radius: .25rem;
            color: @black;

            &.active {
                color: @white;
                background: @black;
            }
        }
    }
}
