html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    background: black;
    color: #090e24;
}

ol,
ul {
  list-style: circle;
  margin: 0 0 20px 40px;
}

a {
    text-decoration: underline;
}

p, pre {
    margin: 0 0 20px;
}

li {
    margin: 0 0 2px;
}

table {
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #090e24;
    box-shadow: 3px 3px 0 #090e24;
    margin-bottom: 40px;
    width: 100%;
    text-align: left;
}

table thead th {
    background: #f8f9fb;
    border-bottom: 1px solid #090e24;
}


table td {
    border-bottom: 1px solid #090e24;
}

th, td {
    border-bottom-width: 1px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    vertical-align: middle;
}

hr {
    border-top: 1px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.icon-svg-black > svg {
    fill: black;
}

.icon-svg-white > svg {
    fill: white;
}

.icon-svg-large > svg {
    height: 72px;
    @apply inline-block;
}

.icon-svg-medium > svg {
    height: 55px;
    @apply inline-block;
}

.icon-svg-normal > svg {
    height: 18px;
    @apply inline-block;
}

.icon-svg-small > svg {
    height: 16px;
    @apply inline-block;
}

.icon-svg-xsmall > svg {
    height: 13px;
    @apply inline-block;
}
