{% extends "themes/" ~ registry.flextype.theme ~ "/templates/partials/base.html" %}

{% block content %}
<div class="container mx-auto bg-white text-black pb-24">
    <h1 class="uppercase text-center text-3xl lg:text-6xl pl-6 pr-6 lg:pl-40 lg:pr-40 pt-24 pb-24 m-0 font-noirpro-semibold">
        {{ entry.title|raw }}
    </h1>
    <h2 class="text-center m-0 pl-6 pr-6 lg:pl-40 lg:pr-40 pb-24 text-xl font-normal">
        {{ entry.description|raw }}
    </h2>
    <div class="pl-6 pr-6 lg:pl-16 lg:pr-16">
        {{ entry.content|shortcode|markdown|raw }}

        <h3 class="text-center">Token: <br>{{ content_api_token.uuid }}</h3>


        1. Create token folder <code>{{ content_api_token.uuid }}</code> with <code>token.yaml</code> file:<br>
        Example: /site/tokens/{{ content_api_token.uuid }}/token.yaml

        <br>
    </div>
</div>
{% endblock %}
