//
// Footer
//
$footer-height: 400px;
$footer-text-color: white;
$footer-bg: black;

.footer {
    position: relative;

    min-height: $footer-height;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 40px;

    font-size: 16px;

    color: $footer-text-color;
    background: $footer-bg;
    background-position: bottom;
    background-size: cover;

    .p {
        color: white;

        > a {
            color: inherit;
        }
    }
}

.footer-nav-items {
    .h4 {
        color: white;
        font-size: 20px;
        font-weight: bold;
        margin-top: 0;
    }

    .ul {
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
            > a {
                color: white;
            }
        }
    }
}

.footer-locales {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #131313;

    .p {
        > a {
            border-right: 1px solid #131313;
            padding-right: 10px;
            margin-right: 8px;
        }
    }
}

@media (max-width: 736px) {
    footer {
        text-align: center;

        .footer-nav-items {
            margin-bottom: 20px;
        }
    }
}
