//
// Nav
//

.navbar {
    .social-links {
        > a {
            color: white;
            position: relative;
            transition: all .3s;
            padding: 7px 10px;

            > i {
                transition: all .3s;
            }

            &:hover {
                > i {
                    color: black;
                }

                background: white;
            }
        }
    }

    .navbar-brand {
        text-decoration: none;

        width: 150px;

        .site-logo {
            margin-bottom: 5px;
        }
    }

    .navbar-nav {
        margin: 0 auto;

        .nav-link {
            padding-left: 15px;
            padding-right: 15px;
            border-radius: .25rem;
            color: $base-font-color;
            text-transform: uppercase;
            text-decoration: none;

            font-size: 12px;
            letter-spacing: .08em;

            > span {
                transition: all .3s;
            }

            &.active > span,
            &:hover > span {
                color: black;
                border-bottom: 3px solid black;
                border-radius: 0;
                padding-bottom: 10px;
            }
        }
    }
}

.navbar-expand-lg {
    > .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    text-align: center;
    width: 33.3%;
    border-color: none;
    border-radius: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    color: black;
    background-color: white;
    border-color: white white black;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 3px;
}

.tab-pane {
    padding: 40px 20px;
    background: white;
    background-color: white;
    color: black;
    border: 0;
}
