html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;

    height: 100%;

    color: black;
    background: white;
}

body,
button,
input,
select,
textarea,
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;

    color: black;
}

body,
p {
    line-height: 26px;
}


.content {
    padding-top: 0;
}

.section {
    margin-top: 40px;
}

.section .fa {
    font-size: 64px;
    margin-bottom: 20px;
}

.container {
    padding-left: 60px;
    padding-right: 60px;
}

.navbar-brand {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.heading-h2 {
    font-size: 44px;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 0;
    text-align: center;
}

.section a {
    color: black;
    text-decoration: none;
}

.powered {
    padding-top: 30px;
}
