a.link-effect-1::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: white;
	content: '';
	opacity: 0;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	transform: translateY(-10px);
}

a.link-effect-1:hover::after,
a.link-effect-1:focus::after {
	height: 3px;
	opacity: 1;
	transform: translateY(5px);
}


a.button-link-effect-1 {
	transition: border-color 0.4s, color 0.4s;
}

a.button-link-effect-1::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: -1;
	opacity: 0;
	transform: scale3d(0.7, 1, 1);
	transition: transform 0.4s, opacity 0.4s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

a.button-link-effect-1:hover {
	color: black;
	border-color: black;
}

a.button-link-effect-1:hover::before {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
