.btn {
    text-decoration: none;
    background: white;
    border: 3px solid black;
    color: black;
    position: relative;
    transition: all .3s;
    border-radius: 0;
    margin-bottom: 80px;
    margin-top: 80px;
    padding: 16px 80px;

    &:hover {
        background: black;
        color: white!important;
    }

    &.btn-invert {
        background: black;
        border: 3px solid white;
        color: white;

        &:hover {
            background: white;
            color: black!important;
        }
    }
}
