//
// Container
//

.content {
    padding-top: 40px;
}

.section-international {
    background: black;
    background-color: black;
    color: white;

    &.navbar {
        .navbar-brand {
            color: white;
        }

        .social-links {
            > a {
                color: white;

                &:hover {
                    color: white;
                }
            }
        }

        .navbar-nav {
            .nav-link {
                color: white;

                &.active > span,
                &:hover > span {
                    color: white;
                    border-bottom: 2px solid white;
                }
            }
        }
    }
}

.section-international-gray {
    color: #383a42;
    background: #fafafa;
}

.introducing {
    text-align: center;
    padding-bottom: 220px;

    .h1 {
        font-size: 60px;
        font-weight: bold;
        padding-top: 100px;
        padding-bottom: 0;
        font-family: "noirpro-semibold", sans-serif;
    }

    .btn {
        margin-bottom: 80px;
        padding: 16px 80px;
    }
}

.section {

    margin-top: 40px;
    padding: 100px 40px;

    &.first {
        padding-top: 400px;
    }

    .section-heading {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 20px;
        margin-top: 0;
        text-align: center;
        text-transform: uppercase;
    }

    .section-description {
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 80px;
    }

    .h4 {
        font-size: 26px;
        font-weight: bold;
    }

    .p {
        margin-bottom: 0;
    }

    .fa,
    .fab,
    .fas.fa-arrow-circle-right,
    .fas.fa-bold,
    .fas.fa-comments {
        color: black;
        font-size: 64px;
    }
}

.reference-item {
    background: #fafafa;
    color: black;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
}

.admin-preview-wrapper {
    position: absolute;
    display: block;
    z-index: 1000;
    width: 100%;
    left: 0;
}

.page-content {
    .h2 {
        margin: 0;
        font-size: 60px;
        padding-top: 80px;
        padding-bottom: 70px;
        text-transform: uppercase;
        text-align: center;

        &.none-text-transform {
            text-transform: none;
        }

        .p {
            margin-top: 10px;
            font-size: 16px;
        }
    }

    .h3 {
        margin: 0;
        font-size: 40px;
        padding-top: 60px;
        padding-bottom: 50px;
        text-transform: uppercase;
        text-align: center;
    }

    .inner {
        padding-bottom: 60px;
    }
}

.section-item {
    margin-bottom: 80px;
    text-align: center;

    > i {
        margin-bottom: 0;
    }
}

.section-item-social {
    text-align: center;

    > i {
        margin-bottom: 0;
    }
}

.section-item-badge {
    margin-bottom: 80px;
    text-align: center;
    color: black;
    background: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;

    > a {
        color: black;

        &:hover {
            color: inherit;
        }
    }
}

.documentation-panel {
    color: black;
    background: #fafafa;
    text-align: center;
    padding: 100px 0;
    border: 3px solid #fff;
}

@media (max-width: 736px) {
    .page-content .h2 {
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 10px;
    }

    .section {
        .section-heading {
            font-size: 40px;
            line-height: 50px;
        }

        .section-description {
            font-size: 20px;
            line-height: 30px;
        }

        &.first {
            padding-top: 80px;
        }
    }
}
