a.underline {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

a.hover\:border-white:hover {
	@apply border-white;
}

.logo {
    position: relative;
}

.logo:before {
    color: black;
    content: "[ ";
}

.logo:after {
    color: black;
    content: " ]";
}

.logo:hover:before {
    color: white;
    content: "[ ";
}

.logo:hover:after {
    color: white;
    content: " ]";
}
