/* Links global */
a {
  text-decoration: underline;
}

a:hover {
  opacity: .8;
}

/* Links top nav */
.nav-item {
    text-decoration: none;
}

.nav-item:hover {
    opacity: .8;
}

/* Links logo */
.logo {
    text-decoration: none;
}

.logo:hover {
    opacity: .8;
}

.button {
    box-shadow: 3px 3px 0 #090e24;
    border: 1px solid #090e24;
    @apply inline-block no-underline uppercase text-center text-lg relative pr-2 pl-2 pt-6 pb-6 border-black bg-white border-1 text-black;
}

.button:hover {
    box-shadow: 3px 3px 0 #333;
}

.plate {
    box-shadow: 3px 3px 0 #090e24;
    border: 1px solid #090e24;
    @apply relative border-black bg-white text-black;
}

.extend {
    box-shadow: 3px 3px 0 #090e24;
    border: 1px solid #090e24;
    @apply inline-block no-underline relative pr-2 pl-2 pt-6 pb-6 border-black bg-white border-1 text-black;
}

.extend:hover {
    box-shadow: 3px 3px 0 #333;
}

.post {
    box-shadow: 3px 3px 0 #090e24;
    border: 1px solid #090e24;
    @apply inline-block no-underline relative pr-2 pl-2 pt-6 pb-6 border-black bg-white border-1 text-black;
}

.post:hover {
    box-shadow: 3px 3px 0 #333;
}
