/* Links global */
a {
  text-decoration: underline;
}

a:hover {
  opacity: .8;
}

/* Links top nav */
.nav-item {
    color: white;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid white;
}

.nav-item:hover {
    border-bottom: 2px solid black;
}

.nav-item.active {
    border-bottom: 2px solid black;
}

/* Links logo */
.logo {
    color: black;
    position: relative;
    border-bottom: 0;
}

.logo:before {
    color: white;
    content: "[ ";
}

.logo:after {
    color: white;
    content: " ]";
}

.logo:hover:before {
    color: black;
    content: "[ ";
}

.logo:hover:after {
    color: black;
    content: " ]";
}
