/* Links global */
a {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-left: 2px;
  padding-right: 2px;
}

a:hover {
  text-decoration: none;
  background: white;
  color: black;
  border-bottom: 1px solid currentColor;
}

a.no-underline {
  border-bottom: 0;
  text-decoration: none;
}

a.no-underline:hover {
    background: inherit;
    color: inherit;
}

a.invert {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

a.invert:hover {
  text-decoration: none;
  background: black;
  color: white;
  border-bottom: 1px solid currentColor;
}

a.hover\:border-white:hover {
	@apply border-white;
}

a.hover\:border-3:hover {
	@apply border-3;
}

/* Links top nav */
.nav-item {
    background: black;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid black;
}

.nav-item:hover {
    background: black;
    color: white;
    border-bottom: 3px solid white;
}

/* Links logo */
.logo {
    position: relative;
    border-bottom: 0;
}

.logo:hover {
    background: black;
    color: white
}

.logo:before {
    color: black;
    content: "[ ";
}

.logo:after {
    color: black;
    content: " ]";
}

.logo:hover:before {
    color: white;
    content: "[ ";
}

.logo:hover:after {
    color: white;
    content: " ]";
}
