//
// Variables
//

//
// Base
//
$base-font-family: 'Montserrat', sans-serif;
$base-font-color: #606060;
$base-font-size: 20px;
$base-line-height: 32px;

//
// Scaffolding
//
$body-bg: #fff;
$body-color: #424243;

//
// Spacing
//
$base-spacing-unit: $base-font-size;
$half-spacing-unit: $base-spacing-unit / 2;